.search-form-field  {
    width: 30em;
}

.card {
    height: 40em;
    width: 20em;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
}

.card-img {
    height: 20em;
    width: 20em;
}